* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width:500px) {
    body {
        background-color: white;
        font-family: 'Roboto Flex', sans-serif;
    }

    .containerSection,
    .containerLogin {
        width: 100%;
        height: 80vh;
        margin: auto;
    }

    .divContainerPhrase {
        display: none;
    }

    .containerRight,
    .divRight {
        width: 100%;
        height: 90%;
        font-family: 'Roboto Flex', sans-serif;
        margin: auto;


    }

    .imgSeniorFace,
    .imgLogin {
        display: none;
    }


    .divTitleLogo,
    .divSocialNetword {
        width: 100%;
        height: 150px;
        background-color: rgb(250, 188, 89);
        text-align: center;
        padding: 40px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 2.8em;
        font-weight: 700;
        color: rgb(39, 37, 33);
        box-shadow: 10px 0px 20px 0px rgb(196, 195, 194);

    }

    .divLogoRegister,
    .divLogo {
        width: 100px;
        height: 100px;
        background-color: rgb(27, 24, 19);
        border-radius: 50px;
        border: 5px solid rgb(243, 238, 238);
        margin: auto;
        margin-top: -50px;
    }

    .divLogoRegister img,
    .divLogo img {
        width: 80px;
        height: 80px;
        filter: invert(.6);
        margin: 5px;
        margin-top: 2px;
    }

    .formRegister,
    .formLogin {
        width: 80%;
        height: 95%;
        list-style: none;
        margin: auto;
        margin-top: 3%;

    }

    .divTitleRegister,
    .divTitleLogin {
        width: 180px;
        font-size: 2.2em;
        font-weight: 500;
        color: rgb(101, 101, 100);
        margin: auto;
    }

    .divTitleLogin {
        width: 250px;
        margin: auto;
    }

    .listInput,
    .listButtonRegister,
    .listButtonRegisterGoogle,
    .lineDivide,
    .listButtonLogin,
    .listButtonLoginGoogle,
    .listButtonToRegister {
        width: 280px;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .listButtonToRegister {
        margin-top: 23%;
    }

    .listInput input {
        width: 280px;
        height: 60px;
        border-radius: 10px;
        border: .5px solid rgb(227, 226, 226);
        box-shadow: 0px 0px 10px 0px rgb(231, 230, 230);
        color: rgb(93, 92, 92);
        font-size: 1.2em;
        padding: 0px 20px 0px 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .listInput span {
        font-size: 1em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput label {
        font-weight: 700;
        color: rgb(80, 79, 79);
    }

    .listInput ::placeholder {
        color: rgb(189, 176, 176);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1em;
    }

    .listInput input:focus {
        border: 2px solid #e39f216f;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }

    .listInput.error input {
        border: 2px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
    }

    .listInput.error2 input {
        border: 2px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
    }

    .listInput.success input {
        border: 2px solid rgb(115, 215, 27);
        box-shadow: 0px 0px 10px rgba(160, 228, 58, 0.4);
    }
    .buttonRegister,
    .buttonLogin,
    .buttonToRegister {
        width: 280px;
        height: 60px;
        background-color: rgb(250, 188, 89);
        border-radius: 10px;
        border: 0px transparent;
        font-size: 1.1em;
        box-shadow: 0px 0px 10px 1px rgb(112, 91, 38);
        color: rgb(63, 63, 62);
        z-index: 20;
        font-weight: 600;
        margin: auto;
    }
  


    .buttonRegisterGoogle,
    .buttonLoginGoogle,
    .buttonToRegister {
        width: 280px;
        height: 60px;
        background: rgb(254, 244, 218);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 1.1em;
        border: 1px solid rgb(230, 200, 130);
        color: rgb(79, 79, 79);
        position: absolute;
        z-index: 20;
        border-radius: 10px;
        text-align: end;
        font-weight: 600;
        padding-right: 20px;
    }
    .buttonLoginGoogle{
        padding-right: 40px;
    }

    .buttonToRegister {
        background-color: rgb(250, 249, 248);
        padding-right: 0px;
        margin: auto;
        text-align: center;
    }

    .buttonRegisterGoogle img,
    .buttonLoginGoogle img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 20px;
        top: 8px;

    }

    .lineDivide {
        width: 250px;
        height: 20px;
        position: relative;
    }

    .lineDivide::after,
    .lineDivide::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        background: rgb(217, 215, 215);
        width: 45%;
        top: 45%;
    }

    .lineDivide::after {
        left: 0px;
    }

    .lineDivide::before {
        right: 0px;
    }

    .circle {
        width: 15px;
        height: 15px;
        border: 1px solid rgb(172, 170, 170);
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        border-radius: 50%;

    }

    .articlePost button {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        position: absolute;
        border: 2px solid rgb(255, 255, 255);
        color: rgb(78, 72, 72);
        font-weight: 700;
    } 
    .emailInvalid {
        width: 250px;
        margin: auto;
        margin-left: 40px;
        margin-top: 70px;
        position: absolute;
        z-index: 10;
        text-align: center;
        color: rgb(205, 49, 49);
        font-weight: 600;
    }
    /*Estilos para ruta Home*/

    main {
        width: 100%;
        height: 100%;

    }

    nav {
        width: 100%;
        padding: 20px;
        background-color: rgb(249, 200, 74);
        font-family: 'Roboto Flex', sans-serif;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .divUserName {
        width: 60px;
        height: 60px;
        background-color: rgb(27, 24, 19);
        border-radius: 50px;
        border: 3px solid rgb(243, 238, 238);
        color: white;
        padding-top: 15px;
        text-align: center;
    }

    .titleHome {
        width: 200px;
        height: 60px;
        padding: 15px;
    }

    .sectionToPost {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 11% 10% 21% 10%;

    }

    .formToPost {
        width: 100%;
        min-height: 50px;
        background-color: rgb(217, 215, 215);
        border: 1px solid rgb(80, 79, 79);
        border-radius: 5px;
        padding: 10px;
        margin: auto;
        position: relative;
        font-size: .8em;
    }

    .inputToPost {
        background-color: rgb(80 79 79 / 0%);
        width: 100%;
        min-height: 70px;
        margin: auto;
        padding: 10px;
        resize: none;
        font-size: 1.5em;
        border: #d2691e00;

    }

    .buttonToPost {
        background: rgb(248 190 40 / 98%);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 12px;
        border: 1px solid rgb(193 184 163);
        color: rgb(79, 79, 79);
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -36px;
        border-radius: 10px;
        font-weight: 600;
        padding: 9px;
        margin-bottom: -10px;

    }

    .sectionPost {
        width: 100%;
        height: 100%;
        background-color: rgb(237, 231, 224);
        padding: 3% 12% 12% 12%;

    }


    .textPost {
        background-color: rgba(255, 255, 254, 0.595);
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        min-height: 90px;
        border-radius: 15px;
        margin: 30px auto 30px auto;
        word-wrap: break-word;
        position: relative;
        z-index: 0;
        padding: 30px;
    }



    .buttonEmoticonDelete {
        width: 100px;
        height: 50px;
        background-image: url("./img/emoticonEdit.png");
        background-size: cover;
    }


    .divSignOut {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: rgb(255, 207, 124);
        justify-content: center;
        display: flex;
        font-size: large;
        align-items: center;
        z-index: 1;
    }

    .modalDelete {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        background-color: #404040b9;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6 .9s;
        transition: opacity .6s;
        --transform: translateY(0);
        --transition: transform .8s .8s;
    }

    .divModal {

        margin: auto;
        width: 80%;
        max-width: 600px;
        max-height: 90%;
        border-radius: 20px;
        background-color: white;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition: var(--transition);
        text-align: center;

    }

    .divModal span {
        font-size: 2em;

    }

    .buttonDelete,
    .buttonClose {
        color: rgb(24, 24, 24);
        background-color: rgb(255, 207, 124);
        padding: 1em 3em;
        border-radius: 6px;
        display: inline-block;
        font-weight: 300;
        transition: background-color .5s;
        border: 1px solid rgb(255, 207, 124);
        box-shadow: 0px 0px 5px 0px rgb(221, 221, 221);

    }

    .buttonDelete {
        background: white;
    }

    .divModal button:hover {
        background-color: rgb(255, 191, 80);
        cursor: pointer;
        box-shadow: 0px 2px 10px 1px rgb(181, 181, 181);
        transition: 0.5s;
    }

    .modalShow {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .6s;
        --transform: translateY(0);
        --transition: transform .8s .8s;

    }


    .buttonDelete:hover,
    .buttonEdit:hover {
        cursor: pointer;
        box-shadow: 0px 2px 10px 1px rgb(181, 181, 181);
        transition: 0.5s;
    }

    .articlePost {
        background-color: rgb(239, 233, 233);
        margin: 50px auto 50px auto;
        word-wrap: break-word;
        position: relative;
        z-index: 0;

    }


    .fa-trash-can {
        position: absolute;
        top: 40px;
        right: 12px;
    }

    .fa-thumbs-up {
        position: absolute;
        bottom: 10px;
        left: 30px;
        z-index: 20;
    }

    .fa-pen-to-square {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .userNameComplete {
        position: absolute;
        cursor: pointer;
        right: 3px;
        text-transform: uppercase;
        z-index: 1;
        top: 15px;
        left: 30px;
        font-weight: bolder;
        font-size: .8em;
        color: #2a2a2a;
    }


    .textUser {
        background-color: rgb(246, 210, 101);
        width: 50px;
        height: 50px;
        border-radius: 40px;
        display: inline-block;
        text-align: center;
        padding-top: 15px;
        font-weight: 600;
        color: #0c0c0c;
        position: absolute;
        left: -22px;
        top: 35px;
    }


    .spanLike {
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        color: #0c0c0c;
        position: absolute;
        left: 40px;
        bottom: -22px;
        z-index: 20;

    }

    .datePrinted {
        color: #5e5e5e;
        position: absolute;
        right: 40px;
        bottom: 10px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .printMessege{
        color: black;
        margin-top: 10px;
    }
    .formRegister button:hover {
        background-color: rgb(216, 166, 126);
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 10px 0px rgb(112, 91, 38);
        transition: 1s;
    }
    .formLogin button:hover {
        background-color: rgb(216, 166, 126);
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 10px 0px rgb(112, 91, 38);
        transition: 1s;
    }
    .fa-solid {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 35px;
        color: #25211689;
        cursor: pointer;
    }
    .buttonToPost:hover {
        background-color: #f8d37e;
        transition: .5s;
        box-shadow: 0px 0px 10px 0px rgb(97, 97, 97);
    }


}

/*=====================================================================================*/

@media (min-width:500px) {
    body {
        /* background-image: linear-gradient(rgb(22, 15, 10),rgba(41, 29, 19, 0.795)), url(./img/patron9.png);*/
        background-image: url(./img/patron9.png);
        background-size: 1200px 1000px;
        background-color: rgb(225, 215, 215);
        font-family: 'Roboto Flex', sans-serif;

    }


    .containerSection,
    .containerLogin {
        width: 1200px;
        height: 850px;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border-radius: 20px 0px 20px 0px;
        margin-top: 50px;
        box-shadow: 0px 0px 30px 0px rgb(145, 145, 145);
    }

    .containerLeft,
    .containerRight,
    .divRight,
    .divLeft {
        width: 600px;
        height: 850px;

    }

    .containerLeft,
    .divLeft {
        border-radius: 20px 0px 0px 0px;
        background-color: rgb(245, 203, 89);
        text-align: center;
        padding: 100px 0px 100px 0px;
        position: relative;
    }

    .containerLeft img {
        width: 400px;


    }

    .divLeft img {
        width: 650px;
        height: 700px;
        margin-bottom: 20px;

    }



    .containerRight,
    .divRight {
        border-radius: 0px 0px 20px 0px;
        background-color: rgb(255, 255, 255);
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        position: relative;


    }

    .formRegister,
    .formLogin {
        width: 400px;
        height: 700px;
        margin: auto;
        list-style: none;
        margin-top: 70px;

    }

    .divTitleRegister,
    .divTitleLogin {
        width: 220px;
        margin: auto;
        font-size: 3em;
        color: rgb(67, 60, 50);
        margin-bottom: 100px;

    }

    .divTitleLogin {
        text-align: center;
        width: 100%;

    }


    .listInput {
        width: 380px;
        height: 130px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .listButtonRegister,
    .listButtonRegisterGoogle,
    .lineDivide,
    .listButtonLogin,
    .listButtonLoginGoogle,
    .listButtonToRegister {
        width: 380px;
        height: 65px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .listInput input {
        width: 380px;
        height: 60px;
        margin: auto;
        border-radius: 10px;
        border: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 0px 5px 0px rgb(194, 194, 194);
        padding: 0px 20px 0px 20px;
        background-color: rgba(255, 255, 255, 0.709);
        margin-top: 10px;
        font-size: 1.3em;
        color: rgb(91, 88, 88);
        margin-bottom: 3px;
    }

    .listInput span {
        font-size: 1.2em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput ::placeholder {
        color: rgb(189, 176, 176);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1em;
    }

    .listInput input:focus {
        border: 3px solid #e39f216f;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }

    .listInput.error input {
        border: 3px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);

    }

    .listInput.error2 input {
        border: 3px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
        font-size: 1.2em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput.success input {
        border: 2px solid rgb(115, 215, 27);
        box-shadow: 0px 0px 10px rgba(160, 228, 58, 0.4);

    }

    .listInput label {
        font-size: 1.3em;
        font-weight: 700;
        color: rgb(80, 79, 79);
    }

    .buttonRegister,
    .buttonLogin {
        width: 380px;
        height: 65px;
        background-color: rgb(250, 188, 89);
        border-radius: 10px;
        border: 0px transparent;
        font-size: 1.5em;
        box-shadow: 0px 0px 10px 1px rgb(112, 91, 38);
        color: rgb(63, 63, 62);
        z-index: 20;
        font-weight: 600;
        cursor: pointer;

    }



    .buttonRegisterGoogle,
    .buttonLoginGoogle,
    .buttonToRegister {
        width: 380px;
        height: 65px;
        background: rgb(254, 244, 218);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 1.5em;
        border: 1px solid rgb(230, 200, 130);
        color: rgb(79, 79, 79);
        position: absolute;
        z-index: 20;
        border-radius: 10px;
        text-align: end;
        font-weight: 600;
        padding-right: 30px;
        cursor: pointer;
    }

    .buttonLoginGoogle {
        padding-right: 80px;
    }

    .buttonToRegister {
        text-align: center;
        padding-right: 0px;
        background-color: rgb(250, 249, 248);

    }

    .buttonRegisterGoogle img,
    .buttonLoginGoogle img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 8px;

    }

    .articlePost button {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        position: absolute;
        border: 2px solid rgb(255, 255, 255);
        color: rgb(78, 72, 72);
        font-weight: 700;

    }

    .formRegister button:hover {
        background-color: rgb(216, 166, 126);
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 20px 1px rgb(112, 91, 38);
        transition: 1s;
    }
    .formLogin button:hover {
        background-color: rgb(216, 166, 126);
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 20px 1px rgb(112, 91, 38);
        transition: 1s;
    }

    .containerLineDivide {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lineDivide {
        width: 380px;
        height: 20px;
        position: relative;
    }

    .lineDivide::after,
    .lineDivide::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        background: rgb(217, 215, 215);
        width: 45%;
        top: 45%;
    }

    .lineDivide::after {
        left: 0px;
    }

    .lineDivide::before {
        right: 0px;
    }

    .circle {
        width: 15px;
        height: 15px;
        border: 1px solid rgb(172, 170, 170);
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        border-radius: 50%;

    }



    .divContainerPhrase {
        margin: auto;
        width: 500px;
        height: 200px;


    }

    .contentPhrase {
        font-size: 3em;

        font-family: 'Assistant', sans-serif;
    }

    .divLogoRegister,
    .divLogo {
        width: 80px;
        height: 80px;
        background-color: rgb(39, 35, 35);
        border-radius: 50px;
        border: 4px solid rgb(244, 174, 94);
        margin: auto;
        position: absolute;
        right: 265px;
        top: 140px;
    }

    .divLogoRegister img,
    .divLogo img {
        width: 60px;
        height: 60px;
        filter: invert(.6);
        margin: 6px;

    }


    .divTitleLogo .divLogo {
        width: 600px;
        height: 180px;
        position: absolute;
        background-color: rgba(246, 210, 101, 0.862);
        text-align: left;
        z-index: 10;

    }

    .divTitleLogo span,
    .divSocialNetword span {
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 5em;
        color: rgb(67, 67, 67);
        text-shadow: 0px 1px 4px rgba(63, 63, 63, 0.953);
    }



    .emailInvalid {
        width: 300px;
        margin: auto;
        text-align: center;
        color: rgb(205, 49, 49);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.1em;
    }


    .divLeft {
        padding: 0px;
    }

    .imgLogin img {
        width: 600px;
        height: 750px;
        border-radius: 20px 0px 0px 0px;


    }

    .navHome {
        width: 100%;
        height: 120px;
        background-color: rgb(246, 210, 101);
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        z-index: 10;
        padding-left: 20px;
        padding-right: 20px;

    }


    .navHome h1 {

        display: inline-block;
        font-size: 2.8em;
        margin: 30px;
        color: #3d2d15;
    }

    .divSignOut {
        background-color: rgba(255, 255, 255, 0.434);
        border: 1px solid rgb(255, 255, 255);
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 20px;
        padding-top: 20px;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        color: #3e3e3e;
        font-weight: 600;
        cursor: pointer;

    }

    .divUserName {
        background-color: rgb(255, 255, 255);
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 20px;
        position: absolute;
        right: 140px;
        box-shadow: 0px 0px 15px 0px rgb(63, 44, 26);
        text-align: center;
        padding-top: 30px;

    }

    .divUserName span {
        font-size: 1.2em;
        font-weight: 600;

    }


    .mainHome {
        background-color: rgb(226, 225, 221);
        width: 100%;
        height: 100%;
        margin-top: 0px;


    }


    .formToPost {
        width: 35%;
        height: 50%;
        position: fixed;
        top: 40%;
        left: 2.5%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 25px;
        text-align: center;
        color: white;
        font-family: 'Roboto Flex', sans-serif;


    }

    .formToPost label {
        color: black;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .inputToPost {
        width: 80%;
        min-height: 40px;
        height: 40%;
        margin: auto;
        border-radius: 10px;
        padding: 20px;
        font-size: 1.5em;
        background-color: #ffffffb1;
        border: 0px;
        box-shadow: 0px 0px 7px 1px rgb(140, 140, 140);
        margin-bottom: 10px;
        color: #363636;

    }

    .inputToPost :focus {
        border: 6px solid #e39f216f;
        outline: none;
    }


    .buttonToPost {
        width: 80%;
        margin: auto;
        border-radius: 10px;
        background-color: rgb(246, 210, 101);
        font-weight: 500;
        font-size: 1.1em;
        color: #3e3e3e;
        box-shadow: 0px 0px 7px 1px rgb(140, 140, 140);
        cursor: pointer;
        border: 0px;
        padding: 10px;
    }

    .buttonToPost:hover {
        background-color: #eab741;
        transition: .5s;
        box-shadow: 0px 0px 10px 2px rgb(140, 140, 140);
    }


    .sectionPost {
        width: 60%;
        height: 100%;
        margin-left: 40%;
        margin-top: 120px;
        padding: 2% 10% 2% 15%;
        background-color: rgb(255, 255, 255);

    }


    .articlePost {
        background-color: rgb(239, 233, 233);
        margin: 50px auto 50px auto;
        padding: 40px 40px 40px 15px;
        padding-right: 40px;
        border-radius: 10px;
        word-wrap: break-word;
        position: relative;
        z-index: 0;
    }

    .textUser {

        background-color: rgb(246, 210, 101);
        width: 70px;
        height: 70px;
        border-radius: 40px;
        position: absolute;
        left: -100px;
        top: 0px;
        text-align: center;
        padding-top: 25px;
        font-weight: 600;
        color: #3e3e3e;
        box-shadow: 0px 2px 10px 1px rgb(229, 229, 229);

    }

    .modalDelete {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        background-color: #404040b9;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6 .9s;
        transition: opacity .6s;
        --transform: translateY(0);
        --transition: transform .8s .8s;
    }

    .divModal {

        margin: auto;
        width: 80%;
        max-width: 600px;
        max-height: 90%;
        border-radius: 20px;
        background-color: white;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition: var(--transition);
        text-align: center;

    }

    .divModal span {
        font-size: 2em;

    }

    .buttonDelete,
    .buttonClose {
        color: rgb(24, 24, 24);
        background-color: rgb(255, 207, 124);
        padding: 1em 3em;
        border-radius: 6px;
        display: inline-block;
        font-weight: 300;
        transition: background-color .5s;
        border: 1px solid rgb(255, 207, 124);
        box-shadow: 0px 0px 5px 0px rgb(221, 221, 221);

    }

    .buttonDelete {
        background: white;
    }

    .divModal button:hover {
        background-color: rgb(255, 191, 80);
        cursor: pointer;
        box-shadow: 0px 2px 10px 1px rgb(181, 181, 181);
        transition: 0.5s;
    }

    .modalShow {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .6s;
        --transform: translateY(0);
        --transition: transform .8s .8s;

    }

    .buttonDelete:hover {
        cursor: pointer;
        box-shadow: 0px 2px 10px 1px rgb(181, 181, 181);
        transition: 0.5s;
    }

    .articlePost i {
        position: absolute;
        right: 16px;
        color: rgb(137, 136, 133);
        cursor: pointer;

    }

    .fa-thumbs-up {
        bottom: 10px;
        left: 15px;
    }

    .fa-pen-to-square {
        top: 10px;

    }

    .fa-trash-can {
        top: 35px;
    }

    .spanLike {
        position: absolute;
        bottom: 10px;
        left: 40px;

    }

    .datePrinted {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-size: .8em;
        font-weight: 500;
        color: #707070;
    }

    .userNameComplete {
        position: absolute;
        top: 10px;
        font-weight: 600;
        color: #3e3e3e;
        margin-bottom: 40px;
    }

    .fa-solid {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 35px;
        color: #eab74189;
        cursor: pointer;
    }
    .printMessege{
        color: black;
        margin-top: 10px;
    }



}